@import url("https://fonts.googleapis.com/css2?family=Play&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Play", sans-serif;
    text-shadow: 2px 2px 3px black;
}

a {
    color: #fff;
    text-decoration: none;
}

p{
    padding: 5px;
}

h1 {
    font-size: 4rem;
    color: #fff;
    text-align: center;
    text-shadow: 5px 5px 5px black;
    padding: 5px;
}

h2 {
    font-size: 3rem;
    color: #fff;
    text-shadow: 5px 5px black;
    padding: 5px;
}

h3 {
    font-size: 2rem;
    color: #fff;
    text-shadow: 3px 3px 3px black;
    padding: 5px;
}

h4 {
    font-size: 1rem;
    color: #fff;
    text-shadow: 2px 2px 2px black;
    padding: 5px;
}

.seccionPrincipal {
    width: 100%;
    height: 100vh;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 2px;
}

#seccion-principal {
    position:relative;
    top: 50%;
}

.seccionBatalla {
    width: 100%;
    height: 100vh;
    background-image: url(../img/bg-battle.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 10px;
}

.seccionVictoria {
    width: 100%;
    height: 100vh;
    background-image: url(../img/victoria.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 2px;
}

.seccionDerrota {
    width: 100%;
    height: 100vh;
    background-image: url(../img/derrota.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 2px;
}


.paralela {
    width: 50%;
    min-height: 70vh;
    float: left;
    color: #fff;
    font-size: 18px;
    text-align: center;

}

.imagen-batalla {
    width: 50%;
    max-width: 50%;
}

progress{
    background: lime;
}

.health progress{
    width: 50%;
}

.habilidades {
    padding: 10px;
}

.texto-batalla {
    color: #fff;
    font-size: 20px;
    text-align: center;
}


/* Estilo para el footer */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.text-focus-in {
    -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
    animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}


@-webkit-keyframes text-focus-in {
    0% {
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes text-focus-in {
    0% {
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        filter: blur(0px);
        opacity: 1;
    }
}

.myButton {
    box-shadow: 0px 0px 0px 2px #9fb4f2;
    background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
    background-color: #7892c2;
    border-radius: 10px;
    border: 1px solid #4e6096;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 14px;
    padding: 6px 20px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #283966;
}

.myButton:hover {
    background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
    background-color: #476e9e;
}

.myButton:active {
    position: relative;
    top: 1px;
}

.slider {
    width: 900px;
    height: 300px;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 100px;
}

.slider .item {
    height: 100%;
    width: 300px;
    position: absolute;
    border-radius: 10px;
    transition: all ease 0.7s;
    z-index: 1;
    left: 0;
    opacity: 0.7;
    transform: scale(0.8);
    right: 0;
    margin: 0 auto;
}

.slider .item.active {
    z-index: 2;
    opacity: 1;
    transform: scale(1);
}

.contenido {
    min-height: 75vh;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#copy {
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 23px;
    font-weight: bold; 
}

#copy p{
    font-size: 13px;
}

a:hover{
    color: rgb(255, 200, 97);
}

a{
    color: #fff;
    transition: 350ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 350ms;
    -webkit-transition-timing-function: ease-in-out;
}

#carga img{
    width: 25%;
}